:root {
  --iris: #4d5ae5;
  --navyblue: #2e2f42;
  --ocean: #404bff;
  --white: #fff;
  --slate: #434455;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.logo {
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.weblogo {
  color: var(--iris, #4d5ae5)
}

.studiologo {
  color: var(--navyblue, #2e2f42)
}

.linkpage {
  text-decoration: none;
  color: var(--navyblue, #2e2f42)
  font-weight: 500;
}