.link-logo {
    text-decoration: none;

  }

  .web-logo {
    color: var(--iris, #4D5AE5);
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 21px; 
    letter-spacing: 0.54px;
    text-transform: uppercase;
  }
  
  .studio-logo {
    color: var(--navyblue, #2E2F42);
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
  }

  ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  .pages {
    text-decoration: none !important; 
  } 
